{
	"presets": [["@babel/preset-env"]],
	"plugins": [
		// Alias import
		[
			"module-resolver",
			{
				"alias": {
					"~": "./src"
				}
			}
		],

		// JS ES6 environment async-await synctax
		[
			"@babel/plugin-transform-runtime",
			{
				"regenerator": true
			}
		]
	]
}
